name: run hippo

on:
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 24.x
    - name: restore cache
      uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5  # tag: v11
      continue-on-error: true
      with:
        name: cache
        workflow: cron.yml
    - name: yarn install
      run: yarn install --immutable
    - name: yarn start
      run: yarn start
      env:
        POSTGRES_URI: ${{ secrets.POSTGRES_URI }}
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
        CC_USERS: ${{ secrets.CC_USERS }}
    - name: persist cache
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4  # tag: v5.0.0
      with:
        name: cache
        path: .cache
        include-hidden-files: true
