name: run hippo

on:
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
    - name: restore cache
      uses: dawidd6/action-download-artifact@bf251b5aa9c2f7eeb574a96ee720e24f801b7c11  # tag: v6
      continue-on-error: true
      with:
        name: cache
        workflow: cron.yml
    - name: npm install
      run: npm install
    - name: npm start
      run: npm start
      env:
        POSTGRES_URI: ${{ secrets.POSTGRES_URI }}
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
        CC_USERS: ${{ secrets.CC_USERS }}
    - name: persist cache
      uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874  # tag: v4.4.0
      with:
        name: cache
        path: .cache
        include-hidden-files: true
