name: run hippo

on:
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: restore cache
      uses: dawidd6/action-download-artifact@e7466d1a7587ed14867642c2ca74b5bcc1e19a2d  # tag: v3.0.0
      continue-on-error: true
      with:
        name: cache
        workflow: cron.yml
    - name: npm install
      run: npm install
    - name: npm start
      run: npm start
      env:
        POSTGRES_URI: ${{ secrets.POSTGRES_URI }}
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
        CC_USERS: ${{ secrets.CC_USERS }}
    - name: persist cache
      uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392  # tag: v4.0.0
      with:
        name: cache
        path: .cache
