name: run hippo

on:
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Setup Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 24.x
    - name: restore cache
      uses: dawidd6/action-download-artifact@5c98f0b039f36ef966fdb7dfa9779262785ecb05  # tag: v14
      continue-on-error: true
      with:
        name: cache
        workflow: cron.yml
    - name: yarn install
      run: yarn install --immutable
    - name: yarn start
      run: yarn start
      env:
        POSTGRES_URI: ${{ secrets.POSTGRES_URI }}
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        SLACK_CHANNEL_ID: ${{ secrets.SLACK_CHANNEL_ID }}
        CC_USERS: ${{ secrets.CC_USERS }}
    - name: persist cache
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # tag: v6.0.0
      with:
        name: cache
        path: .cache
        include-hidden-files: true
